*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerContainer {
    background-color: aqua;
    height: 10vh; /*px|em|rem*/
}

.container {
    display: flex;
    height: calc(100vh - 20vh);
}

.anunciosWrapper {
    background-color: blue;
}
.anunciosWrapper video{
    width: 50%;
}
.footer {
    background-color: aquamarine;
    height: 10vh;
}